@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html body {
  margin: 0 auto;
  overflow-x: hidden; }
html body * {
  font-size: 14px;
  line-height: 22px;
  font-family: 'PT Sans', 'PTSansWebRegular', sans-serif; }

/*╨Я╨╛╨┐╨░╨┐ ╨╜╨░╤З╨░╨╗╨╛*/
.popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 555; }
  .popup .popupwindow {
    margin: 80px auto 0px auto;
    width: 330px;
    height: 400px;
    padding: 10px;
    background-color: #fff;
    border-radius: 0px;
    position: relative; }
    .popup .popupwindow a {
      position: absolute;
      right: -20px;
      top: -20px;
      width: 20px;
      height: 20px;
      background-image: url(../img/close.jpg);
      background-repeat: no-repeat;
      background-position: -4px -3px; }
    .popup .popupwindow p {
      font-weight: bold;
      font-size: 16px;
      margin: 5px auto 10px;
      display: table;
      position: relative; }
    .popup .popupwindow label {
      display: block;
      text-align: center;
      margin-top: 7px;
      font-size: 12px; }
    .popup .popupwindow input, .popup .popupwindow textarea {
      margin: 0 auto;
      display: block;
      padding-left: 15px;
      width: 75%; }
    .popup .popupwindow textarea {
      height: 100px; }
    .popup .popupwindow input[type="submit"] {
      background-color: #666;
      border: none;
      width: 30%;
      padding: 3px 5px;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      height: 30px;
      position: relative;
      bottom: -15px; }

/*╤Д╨╛╨╜ ╨╛╤И╨╕╨▒╨║╨╕ ╨╖╨░╨┐╨╛╨╗╨╜╨╡╨╜╨╕╤П ╨┐╨╛╨╗╤П ╨╜╨░╤З╨░╨╗╨╛*/
/*╤В╨╡╨╜╤М*/
.placeholderr {
  -webkit-box-shadow: inset 0px 0px 10px -2px red;
  -moz-box-shadow: inset 0px 0px 10px -2px red;
  box-shadow: inset 0px 0px 10px -2px red;
  border: 0;
  padding: 3px 0 3px 10px;
  font-size: 10px; }

/*╤Ж╨▓╨╡╤В ╤В╨╡╨║╤Б╤В╨░ */
.placeholderr::placeholder {
  color: red;
  opacity: 1; }

.placeholderr:-ms-input-placeholder {
  color: red; }

.placeholderr::-ms-input-placeholder {
  color: red; }

/*╤Д╨╛╨╜ ╨╛╤И╨╕╨▒╨║╨╕ ╨╖╨░╨┐╨╛╨╗╨╜╨╡╨╜╨╕╤П ╨┐╨╛╨╗╤П ╨║╨╛╨╜╨╡╤Ж*/
/*╨Я╨╛╨┐╨░╨┐ ╨║╨╛╨╜╨╡╤Ж*/
/*╤Е╨╕╨┤╨╡╤А ╨╜╨░╤З╨░╨╗╨╛*/
.container header {
  padding: 50px 0;
  position: relative;
  top: 0;
  width: 980px;
  margin: 0 auto; }
  .container header .logo div {
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
    margin-right: 10px; }
    .container header .logo div img {
      width: 100%;
      height: 100%; }
  .container header .logo h1 {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    margin: 5px 0; }
  .container header .logo p {
    display: inline-block; }
  .container header .call {
    text-align: right;
    position: relative;
    top: -20px; }
    .container header .call p {
      font-size: 26px;
      margin: 8px 0; }
    .container header .call a {
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      border-bottom: dashed #333 1px; }

/*╤Е╨╕╨┤╨╡╤А ╨║╨╛╨╜╨╡╤Ж*/
/*╨╝╨╡╨╜╤О ╨╜╨░╤З╨░╨╗╨╛*/
menu.row {
  margin-left: 0;
  margin-right: 0;
  background-color: #333;
  color: #ddd;
  font-size: 18px; }
  menu.row ul {
    display: flex;
    margin: 0 auto;
    width: 960px;
    justify-content: center; }
  menu.row li {
    padding: 10px 10px;
    font-size: 18px;
    color: #ddd;
    margin: 0 auto; }
    menu.row li a {
      padding: 10px 10px;
      font-size: 18px;
      color: #ddd; }
    menu.row li a:hover {
      color: #ddd;
      font-weight: bold; }
  menu.row i {
    font-size: 18px;
    margin: 9px 0; }

/*╨╝╨╡╨╜╤О ╨║╨╛╨╜╨╡╤Ж*/
/*╤Б╨╗╨░╨╣╨┤╨╡╤А ╨╜╨░╤З╨░╨╗╨╛*/
.sliderr {
  display: flex;
  position: relative;
  width: 100%; }
  .sliderr .slider {
    width: 100%;
    height: 300px;
    position: static;
    top: 0;
    left: 0;
    right: 0; }
  .sliderr .img {
    text-align: center;
    line-height: 300px;
    position: absolute;
    font-size: 50px;
    color: #fff;
    display: none;
    width: 100%;
    height: 300px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .sliderr .img.curry {
    display: block; }
  .sliderr .img:first-child {
    background-image: url(../img/Desert.jpg); }
  .sliderr .img:nth-child(2) {
    background-color: coral; }
  .sliderr .img:nth-child(3) {
    background-color: chartreuse; }
  .sliderr .img:nth-child(4) {
    background-color: darkviolet; }
  .sliderr .img:nth-child(5) {
    background-color: chocolate; }
  .sliderr .n {
    color: khaki; }
  .sliderr a {
    text-decoration: none;
    color: rgba(120, 120, 120, 0.35);
    font-size: 100px;
    position: relative; }
  .sliderr a:hover {
    color: darkmagenta; }
  .sliderr .prev {
    position: absolute;
    display: block;
    padding: 100px 30px 100px 10px;
    z-index: 222; }
  .sliderr .next {
    position: absolute;
    display: block;
    padding: 100px 10px 100px 30px;
    z-index: 222;
    right: 0; }

/*╤Б╨╗╨░╨╣╨┤╨╡╤А ╨║╨╛╨╜╨╡╤Ж*/
/* ╨║╤А╨╛╤И╨║╨╕ ╨╜╨░╤З╨░╨╗╨╛*/
.breadcrumbs {
  margin: 5px; }
  .breadcrumbs a {
    padding: 0 5px;
    color: #666;
    text-decoration: underline solid #666; }
  .breadcrumbs a:last-child {
    text-decoration: none; }

/*╨║╨╛╨╜╤В╨╡╨╜╤В ╨╜╨░╤З╨░╨╗╨╛*/
.content {
  width: 980px;
  margin: 0 auto;
  /*╨╗╨╡╨▓╤Л╨╣ ╨▒╨╗╨╛╨║ ╨╜╨░╤З╨░╨╗╨╛*/
  /*╨╗╨╡╨▓╤Л╨╣ ╨▒╨╗╨╛╨║ ╨║╨╛╨╜╨╡╤Ж*/
  /*╨┐╤А╨░╨▓╤Л╨╣ ╨▒╨╗╨╛╨║ ╨╜╨░╤З╨░╨╗╨╛*/ }
  .content .leftblock .firstlvl .activecatalog {
    border-bottom: 1px solid #666;
    display: inline; }
  .content .leftblock .secondlvl {
    list-style-type: disc;
    padding-left: 30px;
    text-decoration: none; }
    .content .leftblock .secondlvl li {
      font-size: 12px;
      text-decoration: none; }
  .content .leftblock a {
    bottom: -10px;
    height: 80px;
    font-weight: bold;
    position: relative;
    background-image: url(../img/price.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    color: #333;
    text-align: center;
    right: -35px;
    margin-top: 100px; }
  .content .centerblock {
    /*╨┐╤А╨░╨▓╤Л╨╣ ╨▒╨╗╨╛╨║ ╨║╨╛╨╜╨╡╤Ж*/ }
    .content .centerblock .mainspisok li {
      display: inline-block;
      position: relative;
      background-color: #777;
      width: 30%;
      margin: 8px 3px; }
    .content .centerblock .mainspisok img {
      width: 80%;
      height: 80%;
      margin: 10% 10% 3% 10%; }
    .content .centerblock .mainspisok p {
      width: 70%;
      text-align: left;
      font-size: 12px;
      margin: 0 auto;
      line-height: 1.4; }
    .content .centerblock .mainspisok i {
      margin: 30px 0 10px 30px;
      position: relative;
      display: inline-block;
      font-size: 20px;
      font-weight: bold; }
    .content .centerblock .mainspisok a {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      display: inline-block;
      margin: 30px 0 -5px 50px;
      font-size: 32px;
      color: #fff;
      text-decoration: none; }
    .content .centerblock .listnumber {
      display: flex; }
      .content .centerblock .listnumber li {
        margin: 0 10px; }
        .content .centerblock .listnumber li a {
          color: #666;
          text-decoration: none; }
      .content .centerblock .listnumber li a.active {
        font-weight: bold;
        font-size: 18px; }
    .content .centerblock .feedback {
      display: inline-block;
      margin-bottom: 100px; }
      .content .centerblock .feedback p {
        float: left; }

footer {
  color: #fff;
  background-color: #333;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  bottom: 0; }
  footer .footercontent {
    width: 960px;
    margin: 0 auto; }
    footer .footercontent a {
      color: #fff;
      text-align: left; }
    footer .footercontent ul li a {
      text-decoration: underline #fff solid; }
  footer .creater i {
    background-image: url(../img/ftrlogo.gif);
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    background-repeat: no-repeat;
    margin: 5px; }
  footer .creater .raz {
    text-decoration: underline #fff solid; }

/*╨┐╤А╨░╨▓╤Л╨╣ ╨▒╨╗╨╛╨║ ╨║╨╛╨╜╨╡╤Ж*/
/*╨║╨╛╨╜╤В╨╡╨╜╤В ╨║╨╛╨╜╨╡╤Ж*/
