body{
	background-color: goldenrod;
}

.todolist{
	width: 1024px;
	display: block;
	margin: 0 auto;
	background-color: aliceblue;
}
.new{
	position: relative;
	top: 50px;
	width: 300px;
	height: 70px;
	margin: 0 auto;
	display: block;
}
.blockjobs{
	display: inline-block;
	position: relative;
	width: 400px;
	margin: 100px 35% 10px;
}
.blockjobs *{
	display: inline-block;
	position: relative;
	
}
p{
	margin: 100px auto;
    position: relative;
    display: table;
}
